@import "global";

#top{
  .top--tar{
    h1{
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      color: #FFFFFF;
    }

    &__btn{
      padding-top: 15px;
      &--wan{
        margin: 0 10px;
        border: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        cursor: pointer;
        transition: .4s;
        color: #2C3E50;
        width: 80px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 10px;
        &:hover{
          background: transparent;
          transform: scale(1.1);
          color:red;
          border:2px solid red;
        }
      }
      &--two{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        width: 120px;
        height: 40px;
        cursor: pointer;
        transition: .4s;
        background: #FF1A1A;
        box-shadow: 0px 20px 40px rgba(255, 26, 26, 0.2);
        border-radius: 10px;
        border: none;
        &:hover{
          background: transparent;
          transform: scale(1.1);
          color:red;
          border:2px solid red;
        }
      }
    }
  }
  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    &--black {
      margin-top: 20px;
      width: 510px;
      height: 305px;
      left: 80px;
      top: 1123px;
      background: #FFFFFF;
      border-radius: 15px;
      &__boy{
        width: 40%;
        margin-left: 300px;
        margin-top: -400px;
      }

      &__btn-red {
        display: flex;
        justify-content: end;
      }

      button {
        border: none;
        width: 51px;
        height: 31px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 21px;
        cursor: pointer;
        transition: .4s;
        color: #FFFFFF;
        background: #FF091E;
        border-radius: 0px 15px;
        &:hover{
          background: transparent;
          transform: scale(1.1);
          color:red;
          border:2px solid red;
        }

      }

      &__btn-blue {
        display: flex;
        align-items: center;
        margin: 0 10px;

        ion-icon {
          padding: 0 5px;
          font-size: 20px;
          color: #FF1A1A;
        }

        a {
          width: 35px;
          height: 18px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: #9099A3;
          padding: 10px;
        }
      }
      &__btn-wait {
        h1 {
          padding: 10px;
          width: 214px;
          height: 30px;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          color: #2C3E50;
        }

        p {
          width: 276px;
          height: 58px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #2C3E50;
          padding: 10px;
        }

        button {
          margin: 20px;
          margin-top: 35px;
          border-radius: 10px;
          width: 171px;
          height: 41px;
          font-style: normal;
          font-weight: 900;
          font-size: 14px;
          line-height: 21px;
          cursor: pointer;
          transition: .4s;
          text-transform: capitalize;
          color: #FFFFFF;
          &:hover{
            background: transparent;
            transform: scale(1.1);
            color:red;
            border:2px solid red;
          }
        }
      }
    }
    &--tab{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--rad{
      display: flex;
      justify-content: center;
      padding-top: 50px;
      button{
        width: 300px;
        height: 60px;
        background: #FF1A1A;
        box-shadow: 0px 5px 8px rgba(255, 26, 26, 0.2);
        border-radius: 20px;
        font-style: normal;
        font-weight: 700;
        cursor: pointer;
        transition: .4s;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        border: none;
        &:hover{
          background: transparent;
          transform: scale(1.1);
          color:red;
          border:2px solid red;
        }
      }
    }
  }
}

#car{
  .car{
    &--trap{
      h1{
        width: 420px;
        height: 54px;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        color: #FFFFFF;
      }
      &__btn{
        padding-top: 15px;
        &--rey{
          margin: 0 10px;
          border: none;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          cursor: pointer;
          transition: .4s;
          color: #2C3E50;
          width: 80px;
          height: 40px;
          background: #FFFFFF;
          border-radius: 10px;
          &:hover{
            background: transparent;
            transform: scale(1.1);
            color:red;
            border:2px solid red;
          }
        }
        &--cat{
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #FFFFFF;
          width: 120px;
          height: 40px;
          cursor: pointer;
          transition: .4s;
          background: #FF1A1A;
          box-shadow: 0 20px 40px rgba(255, 26, 26, 0.2);
          border-radius: 10px;
          border: none;
          &:hover{
            background: transparent;
            transform: scale(1.1);
            color:red;
            border:2px solid red;
          }
        }
      }
    }
    &--clet{
      padding-top: 20px;
      padding-left: 20px;
      margin-top: 25px;
      width: 326px;
      height: 300px;
      background: #FFFFFF;
      border-radius: 15px;
      button{
        width: 80px;
        height: 20px;
        background: #9099A3;
        border-radius: 5px;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
        transition: .4s;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        border: none;
        &:hover{
          background: transparent;
          transform: scale(1.1);
          color:red;
          border:2px solid red;
        }
      }
      a{
        padding: 5px;
        width: 35px;
        height: 18px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #9099A3;
      }
      h1{
        padding-top: 10px;
        width: 240px;
        height: 60px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #2C3E50;
      }
      p{
        padding-top: 10px;
        width: 276px;
        height: 74px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #2C3E50;
      }
      &__tor{
        margin-top: 50px;
        width: 305px;
        top: 2210px;
        border: 0.5px solid #9099A3;
        transform: rotate(-0.24deg);
      }
      &__cor{
        padding-top: 10px;
        display: flex;
        align-items: center;
        &--rot{
          img{
            padding: 10px;
          }
        }
        h2{
          width: 210px;
          height: 24px;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #2C3E50;
        }
        h3{
          width: 108px;
          height: 21px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #9099A3;
        }
      }
    }
    &--she{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &--care{
      padding-top: 35px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      button{
        width: 340px;
        height: 50px;
        filter: drop-shadow(0px 5px 8px rgba(26, 92, 255, 0.2));
        border-radius: 12px;
        font-style: normal;
        font-weight: 900;
        cursor: pointer;
        transition: .4s;
        font-size: 18px;
        line-height: 27px;
        color: #9099A3;
        border: none;
        &:hover{
          background: transparent;
          transform: scale(1.1);
          color:red;
          border:2px solid red;
        }
      }
    }
  }
}

#tro{
  .tro{
    padding-top: 20px;
    display: flex;
    &--wit{
      h1{
        padding-top: 20px;
        width: 497px;
        height: 34px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        color: #FFFFFF;
      }
      p{
        padding-top: 20px;
        width: 302px;
        height: 81px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #9099A3;
      }
    }
    &--heit{
      h1{
        margin: 5px;
        padding-top: 20px;
        width: 206px;
        height: 17px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9099A3;
      }
      &__pan{
        input{
          padding: 15px;
          outline: none;
          color: #FFFFFF;
          border: none;
          width: 616px;
          height: 20px;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 15px;
        }
      }
    }
    &--gain{
      padding-top: 30px;
      display: flex;
      p{
        padding-top: 10px;
        width: 306px;
        height: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }
      button{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        cursor: pointer;
        transition: .4s;
        color: #FFFFFF;
        width: 280px;
        height: 60px;
        background: #FF1A1A;
        box-shadow: 0 5px 8px rgba(255, 26, 26, 0.2);
        border-radius: 15px;
        border: none;
        &:hover{
          background: transparent;
          transform: scale(1.1);
          color:red;
          border:2px solid red;
        }
      }
    }
  }
}

#dar{
  .dar{
    &--tup{
      padding-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      h1{
        width: 153px;
        height: 54px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        color: #FFFFFF;
      }
    }
    &--weu{
      padding-top: 25px;
      margin-left: -25px;
      width: 1270px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--col{
      position: relative;
      margin-top: 30px;
      width: 400px;
      height: 235px;
      background: #646161;
      border-radius: 15px;
      img{
        position: absolute;
        top: -20px;
        left: 175px;
        border-radius: 15px;
      }
      p{
        padding-top: 55px;
        margin-left: 50px;
        width: 300px;
        height: 72px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
      }
      &__tray{
        display: flex;
        margin-left: 45px;
        padding-top: 25px;
        h1{
          width: 150px;
          height: 21px;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
          color: #FFFFFF;
        }
        h2{
          width: 183px;
          height: 18px;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
      &__feg{
        padding-top: 10px;
        button{
          margin-left: 170px;
          width: 206px;
          height: 40px;
          background: #FF1A1A;
          box-shadow: 0 8px 20px rgba(255, 26, 26, 0.2);
          border-radius: 10px;
          font-style: normal;
          font-weight: 900;
          cursor: pointer;
          transition: .4s;
          font-size: 14px;
          line-height: 21px;
          text-transform: uppercase;
          color: #FFFFFF;
          border: none;
          &:hover{
            background: transparent;
            transform: scale(1.1);
            color:red;
            border:2px solid red;
          }
        }
      }
    }
  }
}

#gou{
  .gou{
    display: flex;
    align-items: center;
    &--goy{
      padding-top: 120px;
      p{
        margin-top: 90px;
        height: 15px;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color: #9099A3;
      }
    }
    &--roi{
      margin-left: 20px;
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      h1{
        padding: 10px;
        width: 157px;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
      }
      a{
        padding: 10px;
        width: 90px;
        height: 21px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #9099A3;
      }
    }
    &--roy{
      margin-left: 50px;
      h1{
        padding-top: 40px;
        width: 263px;
        height: 27px;
        font-weight: 900;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
      }
      p{
        padding-top: 20px;
        width: 228px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #9099A3;
      }
      ion-icon{
        color: #FFFFFF;
        margin: -5px;
        padding-top: 30px;
        margin-left: 15px;
      }
    }
    &--rpo{
      padding-top: 150px;
      p{
        padding: 30px;
        width: 275px;
        height: 63px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #9099A3;
      }
      a{
        width: 217px;
        height: 15px;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color: #9099A3;
      }
    }
  }
}